.header {
  align-items: center;
  background-color: #000000;
  border-bottom: 1px solid #2a7ae4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo {
  height: 100%;
  object-fit: cover;
  width: 150px;
}